code.xref {
    font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
}

pre {
    padding: 7px 10px;
}

dl dl pre {
    margin-left: 0;
    padding-left: 30px;
}

dd div.admonition {
    margin-left: 0;
    padding-left: 30px;
}